<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Holaaaaa de nuevoooo a : 
    </ion-title>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <div class="">
    <ion-row>
      <ion-col *ngFor="let usuario of usuarios?.users" >
        <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-padding" size-lg="4" size-md="4" size-sm="4" size="12">
                <ion-avatar><img src="{{usuario?.image}}" alt=""></ion-avatar>
              </ion-col>
              <ion-col class="ion-padding" size-lg="8" size-md="8" size-sm="8" size="12">
                <div class="name">{{usuario?.firstName}} {{usuario?.lastName}}</div>
          
                <p>Correo:<br><strong>{{usuario?.email}}</strong> </p>
              </ion-col>
            </ion-row>
          </ion-grid>
       
        </ion-card>
      </ion-col>
    </ion-row>
  
  </div>
  <ion-footer>
  
