#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.centered-image {
  max-width: 100%; // Ajusta el ancho máximo de la imagen según sea necesario
  display: block; // 
  margin: 0 auto; // Centra la imagen horizontalmente
  // Ajusta el tamaño de la imagen para hacerla más pequeña
  width: 50%; // Puedes cambiar este valor según tus preferencias
}

ion-card {
  max-width: 80%; // Ajusta el valor según sea necesario
  margin: 0 auto; // Centra la tarjeta horizontalmente
}

body {
  width: 100%; 
}